.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25vh auto;
}

 .loginContainer div {
     margin-bottom: 10px;
 }

 .loginContainer input {
     border: 1px solid #274c77 !important;
     border-radius: 5px;
 }