.heroSection {
    width: 100%;
    height: 80vh;
    background-image: url("../../assets/cristina-anne-costello-MvCde9kgov8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.heroSection h1 {
    font-size: 3rem;
    color: black;
}

.herosection__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 20px;
}