.heroSection {
    width: 100%;
    height: 80vh;
    background-image: url("../../assets/output-onlinepngtools (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.heroSection h1 {
    font-size: 3.5rem;
    color: #006164;
    text-shadow: -1px 0 white;
}

.herosection__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 20px;
}

@media screen and (max-width: 600px) {
    .herosection__text {
        padding: 30% 20px;
    }
    .heroSection h1 {
        font-size: 2.5rem;
    }
}