.card {
    width: 300px;
    height: 400px;
    background-position: center center;
}

h2 {
    color: #006164;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
}