.footer {
    background: #006164 !important;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 15px;
    padding: 5px;
    width: 95%;
}

.band {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #015659 !important;
    color: white;
    height: 40px;
}

.footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

@media screen and (max-width: 600px) {
    .links {
        flex-direction: column;
        height: 25vh;
        gap: 25px;
    }

}